.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.label span {
  font-size: 16px;
  font-weight: 600;
}

.label input {
  border: none;
  font-size: 16px;
  padding: 8px 8px;
  border-radius: 5px;
}

.form button {
  width: 200px;
  padding: 10px;
  margin: 0 auto;
  border: none;
  border-radius: 5px;
  background-color: rgb(240, 189, 94);
  color: #fff;
  font-size: 16px;
  transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.form button:hover,
.form button:focus {
  background-color: rgb(171, 115, 9);
}