.container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.username {
  font-weight: 700;
}

.logout-btn {
  border: none;
  padding: 5px 8px;
  border-radius: 5px;
  background-color: rgb(240, 189, 94);
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.075, 0.82, 0.165, 1);
  cursor: pointer;
}

.logout-btn:hover, .logout-btn:focus {
  background-color: rgb(171, 115, 9);
}